*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
}
.clear{
	clear: both;
}
html{
	scroll-behavior: smooth;
}
body{
	width: 100%;
}
.main{
	width: 70%;
	margin: auto;
}
.header{
	width: 100%;
/*	height: 1200px;*/
	background: url("images/headerbg.jpg")fixed;
	background-size: cover;
	margin: auto;
}
.header-upper{
	width: 100%;
/*	height: 800px;*/
}
.header-lower{
	width: 100%;
/*	height: 400px;*/
	background: rgba(0, 0, 0, 0.5);
	border-top: #182d55 14px solid;
}
.header-upper-inner{
	width: 100%;
/*	height: 400px;*/
/*	border: 1px solid red;*/
	padding-top: 80px;
	padding-bottom: 720px;
}
.heading{
	width: 400px;
/*	height: 387px;*/
	float: right;
	padding-right: 10px;
/*	border: 1px solid black;*/
}
.logo{
	width: 120px;
/*	height: 387px;*/
	float: right;
/*	border: 1px solid green;*/
	padding-right: 50px;
}
.menu{
	width: 100%;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 320px;
/*	border: 1px solid black;*/
}
.menu ul{
	text-align: center;
}
.menu ul li{
	display: inline-block;
	text-align: center;
	border-right: 2px solid white;
	padding: 12px 25px;
}
.menu ul li a{
	color:white;
}
.menu ul li:last-child{
	border: none;
}
.gallery{
	width: 100%;
	height: 180px;
	margin: auto;
	background: url("images/helicopters.jpg")center;
	background-size: cover;
    border-top:40px solid #182d55;
    border-bottom:40px solid #182d55;
}
.arial{
	width: 100%;
/*	height: 800px;*/
	margin: auto;
	background: url("images/frameimg1.jpg")fixed;
	background-size: cover;
/*	border: 1px solid red;*/
}
.arial-heading{
	width: 100%;
	margin: auto;
	background: rgba(0, 0, 0, 0.5);
	padding-top: 130px;
	padding-bottom: 130px;
	
}

.arial-content{
    width: 98%;
/*	height: 500px;*/
	margin: auto;
    background:white;
    text-align: center;
    font-size: 24px;
    color: #182D55;
    padding: 100px 10px;
    line-height: 30px;
/*    border: 1px solid black;*/
}
.arial-content p:first-child{
	padding-bottom: 50px;
}
.arial-content p:nth-child(2){
	padding-bottom: 100px;
}
.arial-content img{
	padding-bottom: 40px;
}
.helicopter{
	background: url("images/frameimg2.jpg")fixed;
	background-size: cover;
}
.flight{
	background: url("images/frameimg3.jpg")fixed;
	background-size: cover;
}
.charter{
	background: url("images/frameimg4.jpg")fixed;
	background-size: cover;
}
.contact{
	background: url("images/frameimg5.jpg")fixed;
	background-size: cover;
}
.footer{
	width: 70%;
	margin: auto;
	text-align: center;
	padding: 20px 0px;
	border-top: 2px solid #182D55;
}
p a{
	color:#182D55 ;
}
.arial-content p span{
	font-size: 26px;
	line-height: 50px;
}

.outerBorders{
	display: table;
	margin: auto;
}

.border-line{
	width: 150px;
	/*height: 5px;
	background: white;*/
	border-top: 5px solid white;
	margin-top: 20px;
	float: left;
}

.arial-heading-inner{
	float: left;
	text-align: center;
	color: white;
	padding: 5px 10px;	
	border:10px solid white;
	font-size: 24px;
	font-weight:bold;
}